{% extends "accounts/admin_base.html" %}
{% block content %}
<div class="container mt-4">
    <h4>📦 Orders</h4>
    <table class="table table-hover">
        <tr>
        <th>Sl No.</th>
        <th>Customer</th>
        <th>Total</th>
        <th>Status</th>
        <th>Action</th>
        </tr>

        {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order.user.username }}</td>
                <td>₹{{ order.total_amount }}</td>
                <td>{{ order.status }}</td>
                <td>
                {% if order.status != "Completed" %}
                    <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    <button class="btn btn-success btn-sm">Mark Completed</button>
                    </form>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
