body { 
	font-family: Arial; 
	background:#f4f6f8;
}
.form-box {
	width: 400px;
	margin: auto;
	background: white;
	padding: 20px;
	border-radius: 10px;
}
input, button {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
}
button {
	background: green;
	color: white;
	border: none;
}