body {
    background: #c3dfa4;
}
.sidebar {
    min-height: 100vh;
    background: #1e8d59;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
    display: block;
}
.sidebar a:hover {
    background: #157347;
}
.topbar {
    background: #be90b4;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(226, 221, 221, 0.1);
}
.card {
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}
.table thead th,
.table th {
    background-color: #212529;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.04em;
}
.table tr{
    background-color: #7490ac;
}
