/* Page layout */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.page-container {
    min-height: 103.5vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.site-title {
    text-align: center;
    background: #2e7d32;
    color: white;
    padding: 10px;
    margin: 0;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 55vh;
}

.hero-img {
    width: 100%;
    height: 150%;
    object-fit: cover;
}

/* Text overlay */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
    padding: 25px;
    border-radius: 10px;
}

.hero-text h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 15px;
    color: rgb(211, 204, 204);
}

/* Main content */
.content-wrap {
    flex: 1;
    padding: 20px;
}
.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

/* Footer */
.footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin:0;
}
