{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4 col-md-6 rounded-4 text-center">
    <!-- Title -->
    <h3 class="fw-bold text-success mb-3"> 👨‍🌾 Farmer Account Verification </h3>
    <p class="text-muted mb-4">Your account is currently under review by our admin team.</p>
    <h2>Verification Pending ⏳</h2>
    <p>Thank you for your patience!</p>
 </div> 
</div>

{% endblock %}