{% extends 'auth_base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow p-4 col-md-4">
    <!-- Title -->
    <h3 class="text-center mb-3 fw-bold text-success">
        🌱 Welcome Back GreenHarvest 🌱
    </h3>
    <p class="text-center text-success">🛒 Login to your GreenHarvest account🛒</p>
    <!-- Error messages -->
    {% for message in messages %}
      <div class="alert alert-danger text-center">
        {{ message }}
      </div>
    {% endfor %}

    <!-- Login form -->
    <form method="post">
      {% csrf_token %}
      <!-- Username -->
      <div class="mb-3">
        <label class="form-label fw-semibold">Username</label>
        <div class="input-group">
          <span class="input-group-text">👤</span>
          <input type="text" class="form-control" name="username" placeholder="Enter username" required>
        </div>
      </div>
      <!-- Password -->
      <div class="mb-4">
        <label class="form-label fw-semibold">Password</label>
        <div class="input-group">
          <span class="input-group-text">🔒</span>
          <input type="password" class="form-control" name="password" placeholder="Create password" required>
        </div>
      </div>
      <button class="btn btn-success w-100 mb-3">
        Login
      </button>
    </form>
    <!-- Register redirect -->
    <div class="text-center">
      <small class="text-muted">
        Not registered yet?
        <a href="{% url 'customer_register' %}"
           class="text-success fw-semibold text-decoration-none">
          Register as Customer
        </a>
      </small>
    </div>
  </div>
</div>
{% endblock %}
