{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{% static 'css/Add_product.css' %}">
</head>
<body>
<div class="form-box">
    <h2>Add Organic Product</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Product Name">
        <input type="text" name="category" placeholder="Category">
        <input type="number" name="price" placeholder="Price">
        <input type="number" name="stock" placeholder="Stock">
        <input type="date" name="harvest_date">
        <input type="file" name="image">
        <button>Add Product</button>
    </form>
</div>
</body>
</html>
